.container {
    width: fit-content;
    max-width: 95vw;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.image {
    width: 200px;
    margin: auto;
}

.label {
    margin-top: 10px;
    padding-left: 5px;
}

.input {
    width: 300px;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    border: 0;
    outline: 0;
    color: rgb(0, 150, 255);
}

.button {
    text-align: center;
    padding: 10px 0 10px 0;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.button:hover {
    opacity: 0.5;
}